body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}
 
header{
    background-color: lightblue;
    color: white;
}

header ul li.logo {
    font-size: 24px;
    margin-right: 15px;
}

header ul li a {
    color: white;
    font-weight: bold;
}


main {
    display:flex;
    flex-direction:row;
    flex:auto;
}

article {
    background-color: aliceblue;
    border: 2px solid blue;
    flex:2;
    border-radius:10px;
    padding: 15px;
}

article h2 {
    color: darkblue;
}

article p {
    line-height: 1.6;
}
aside {
    background-color: lavenderblush;
    border-left: 2px dashed red;
    padding: 10px;
    flex:1;
}

article, aside {
   overflow-y: auto;
}

