body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

main {
    display:flex;
    flex-direction:row;
    flex:auto;
}

article {
    flex:2;
}
aside {
    flex:1;
}

article, aside {
   overflow-y: auto;
}

